<section id="sobre" class="container ">
  <div class="d-flex flex-column fs-5 my-auto">
    <h2 class="display-5 fw-bold text-center">Sobre Mim</h2>
    <p class="mt-5">
      Olá! Meu nome é <strong>Carlos Henrique</strong>. Sou Desenvolvedor Full-Stack e de Jogos,
      atualmente aluno da <strong>Academia do Programador</strong>. Atuo na área há cerca de 4 a 5
      anos, com grande dedicação aos estudos durante esse período.
    </p>

    <p>
      Usando principalmente a <strong>Plataforma .NET</strong> com os frameworks MVC, Blazor e Web
      API, além de <strong>TypeScript</strong> usando Node.Js e Angular. Também uso
      <strong>Godot</strong> para desenvolvimento de jogos e com a Unreal Engine, explorando também
      a linguagem <strong>Verse</strong>.
    </p>

    <p>
      Tenho experiência com versionamento de código utilizando <strong>Git</strong>, incluindo
      práticas como branching, merge e resolução de conflitos. Também utilizo o
      <strong>GitHub</strong> para colaboração em equipe, revisão de código, gerenciamento de issues
      e automações básicas com GitHub Actions, dentro de práticas fundamentais de
      <strong>DevOps</strong>.
    </p>
    <p>
      Trabalho com bancos de dados relacionais, principalmente <strong>SQL Server</strong> e
      <strong>PostgreSQL</strong>, utilizando tanto <strong>ADO.NET</strong> quanto
      <strong>Entity Framework</strong> como ORM. Também utilizando tecnologias de containers tipo o
      <strong>Docker</strong>. Tenho domínio na criação e consumo de operações
      <strong>CRUD</strong>, implementação e controle de <strong>migrations</strong>
      para versionamento do banco de dados e manutenção da integridade dos dados.
    </p>
  </div>
</section>
